/* CSS stylesheet for webfonts in Gnuastro's manual webpage.

Original author:
    Mohammad Akhlaghi <mohammad@akhlaghi.org>
Contributing author(s):
Copyright (C) 2016-2019 Free Software Foundation, Inc.

This stylesheet is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public Licence as
published by the Free software foundation, either version 3 of the
License, or (at your option) any later version.

This stylesheet is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
General Public License for more details.

A copy of the GNU General Public License is available at
<http://www.gnu.org/licenses>.*/





/* Layout

   The CSS Style rules categorized as "Layout" here are to do with the
   general layout of the final page, not to with the text in it. */

/* These are HTML5 elements that will not be recognized by older
   versions, by setting their "display" to "block" we are telling the
   browser's that don't support HTML5 to put them on their own
   starting line link <p>. */
article,
figure,
footer,
header,
main,
nav,
copyright,
section{
    display: block;
}





/* This clearfix class will make the size of the container of several
   boxes equal to the larger of the two (mainly important for the
   height). So when the div container class contains a sidebar and
   main, its the hight of the container containing the two will be
   equal to the largest of the two. This is taken from the "HTML and
   CSS Visual Quickstart Guide" eighth edition. */
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}










/* Text and figure layouts. */

/* All the elements: We want the width value to contain the padding
   and border values too. */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* In a narrow screen it is much easier to read fonts that are
   slightly larger than the standard size. */
body{
    margin: 0;
    font-size: 100%;		/* Default browser's font size.    */
    font-weight: 100;		/* Thin fonts for all pages.       */
    padding: 0 0.5em 0 0.5em;
    font-family: open_sanslight, sans-serif;
}

/* When we have a wide screen (independent of the browser), the text
   can be hard to read, so we put a limit on the width within the
   browser with the max-width variable. */
@media screen and (min-width: 32em) {
    body {
	font-size: 105%;        /* Default browser's font size.    */
	margin: 0 auto;	        /* To center the page.             */
	max-width: 60em;        /* Page width depends on font size.*/
    }
}




/* Headers

   The default body font-weight is 100 (thin), so the default "bold"
   weight of these headers will make them too thick. Therefore we set
   these headings to have a font-weight or normal or 400.*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin-bottom: 0.3em;
}
h1{
    margin-top: 0;
    font-size: 1.8em;
}
h2{ font-size: 1.5em; }
h3{ font-size: 1.3em; }
h4{ font-size: 1.2em; }
h5{ font-size: 1.1em; }
h6{ font-size: 1.0em; }





/* Paragraphs: by default they are indented. */
p{
    margin-top: 0;
    line-height: 1.4;
    text-indent: 1em;
    margin-bottom: 0.2em;
}


/* Select all paragraphs that must not be indented. Some of them don't need
   any `:first-of-type' because:

    - The `header's have only one <p> in the HTMLs.

    - All `<p>'s in the `.footnote's and `.bottom-links's must have no
      indentation, not just the first ones. */
.header p,
.footnote p,
p.bottom-links,
dd p:first-of-type,
li p:first-of-type,
.cartouche p:first-of-type,
blockquote p:first-of-type,
.float-caption p:first-of-type,
h1 + p,
h1 + :not(p) + p,
h1 + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h1 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + p,
h2 + :not(p) + p,
h2 + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h2 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + p,
h3 + :not(p) + p,
h3 + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h3 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + p,
h4 + :not(p) + p,
h4 + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h4 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + p,
h5 + :not(p) + p,
h5 + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h5 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + p,
h6 + :not(p) + p,
h6 + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p,
h6 + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + :not(p) + p {
    text-indent: 0;
}

/* Header (and bottom) links to next and previous titles: */
.header p {
    font-size: 85%;
}

/* Size of bottom links. Also note that since we have multiple bottom
   links, we need to make sure there is no indentation. */
p.bottom-links {
    font-size: 90%;
}





/* The emphasis lines */
em {
    font-size: 90%;
    font-weight: 100;
    font-style: italic;
}





/* Quotes */
blockquote {
    font-size: 90%;
    margin-top: 0.75em;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}
blockquote+div {
    margin-bottom: 0.75em;
}
blockquote+:not(div) {
    margin-top: 0.75em;
}




/* Lists: */
li {
    padding-bottom: 0.4em;
}





/* dd elements */
dd{
    padding-bottom: 0.4em;
}





/* Images */
.float{
    width: 80%;
    margin: auto;
    padding: 1em 0 1em 0;
}
.float img{
    width: 100%;
}
.float-caption p {
    font-size: 90%;
}





/* Example code blocks */
div.example {
    width: 90%;
    color: #000000;
    font-size: 100%;
    padding: 0 0 0 1em;
    margin: 0.5em auto;
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    font-family: "courier new";
}
code, samp {
    background-color: #f9f9f9;
}





/* Cartouche boxes. */
table.cartouche {
    margin:10px;
    border:solid;
    border-width:1px;
    padding:0.5em 1em 0 1em;
    border-radius:10px;
    background-color:#e6eaf4;
}





/* Menu tables */
table.menu {
    font-size: 95%;
    padding: 0.5em 0 0 1em;
}





/* Links

   The links are distinguished from the main text by being a brigher
   shade of gray but bolder. When they are in focus, active or the
   mouse is hovering over them, they become darker.*/
a{
    font-size: 95%;
    font-weight: 400;
    text-decoration: none;
}
a:link,
a:visited{ color: #1a3b9f; }
a:focus,
a:active,
a:hover{ color: #0099ff; }





/* Sub and Super scripts

   Leave line spacing unchanged when <sub> and <sup> are used. */
sub,
sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup{ top: -0.5em; }
sub{ bottom: -0.25em; }





/* Footnotes: */
.footnote h4 {
    font-size: 90%;
}
.footnote h3 {
    font-size: 80%;
    display: inline;
}
.footnote p {
    font-size: 80%;
}
